<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
<div th:replace="~{layout/store/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/store/sidebar::sidebar}"></div>
            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 최근 주문내역 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>최근 주문 내역
                            <a href="/mypage/orders" class="btn btn-primary btn-sm pull-right">더보기</a>
                        </h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>주문번호</th>
                                <th>상품명</th>
                                <th>수량</th>
                                <th>가격</th>
                                <th>주문일자</th>
                                <th>주문상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>001</td>
                                <td>책 A</td>
                                <td>2</td>
                                <td>₩20,000</td>
                                <td>2024-06-01</td>
                                <td>배송중</td>
                            </tr>
                            <tr>
                                <td>002</td>
                                <td>책 B</td>
                                <td>1</td>
                                <td>₩10,000</td>
                                <td>2024-06-10</td>
                                <td>배송완료</td>
                            </tr>
                            <!-- 추가적인 주문내역을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 포인트 내역 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>포인트 내역
                            <a href="/mypage/point" class="btn btn-primary btn-sm pull-right">더보기</a>
                        </h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>날짜</th>
                                <th>내용</th>
                                <th>포인트 변동</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>2024-06-15</td>
                                <td>구매 포인트 적립</td>
                                <td>+100</td>
                            </tr>
                            <tr>
                                <td>2024-06-14</td>
                                <td>쿠폰 사용</td>
                                <td>-50</td>
                            </tr>
                            <!-- 추가적인 포인트 내역을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 쿠폰내역 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>내 쿠폰
                            <a href="/mypage/coupon" class="btn btn-primary btn-sm pull-right">더보기</a>
                        </h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>쿠폰 명</th>
                                <th>할인 혜택</th>
                                <th>만료일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>쿠폰등록을 안하시고 할인이 안된다고 그러면.. </td>
                                <td>10000원 할인</td>
                                <td>2024-06-30</td>
                            </tr>
                            <tr>
                                <td>모두다 할인</td>
                                <td>15%</td>
                                <td>2024-07-15</td>
                            </tr>
                            <!-- 추가적인 쿠폰내역을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/store/footer::footer}"></div>
</body>
</html>
