<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
<div th:replace="~{layout/store/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/store/sidebar::sidebar}"></div>
            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 최근 주문내역 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>최근 주문 내역
                            <a href="/mypage/orders" class="btn btn-primary btn-sm pull-right">더보기</a>
                        </h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>주문번호</th>
                                <th>상품명</th>
                                <th>수량</th>
                                <th>주문일자</th>
                                <th>주문상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders.data}">
                                <td th:text="${order.ordersId}">001</td>
                                <td th:text="${order.firstBookTitle + (order.extraBookCount > 0 ? ' 외 ' + order.extraBookCount + '건' : '')}">
                                    책 제목 1
                                </td>
                                <td th:text="${order.totalAmount}">2</td>
                                <td th:text="${order.createdAt}">2024-06-01</td>
                                <td th:text="${order.orderStatus}">배송중</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 포인트 내역 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>포인트 내역
                            <a href="/mypage/points" class="btn btn-primary btn-sm pull-right">더보기</a>
                        </h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>날짜</th>
                                <th>내용</th>
                                <th>포인트 변동</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each=" pointHistory : ${pointHistories.data}">
                                <td th:text="${pointHistory.createdAt}">2024-06-15</td>
                                <td th:text="${pointHistory.pointContent}">구매 포인트 적립</td>
                                <td>
                                    <span th:if="${pointHistory.pointAmount > 0}" th:text="'+' + ${pointHistory.pointAmount}" style="color: blue;"></span>
                                    <span th:unless="${pointHistory.pointAmount > 0}" th:text="${pointHistory.pointAmount}" style="color: gray;"></span>
                                </td>
                            </tr>
                            <!-- 추가적인 포인트 내역을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- 쿠폰내역 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>내 쿠폰
                            <a href="/mypage/coupons" class="btn btn-primary btn-sm pull-right">더보기</a>
                        </h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>쿠폰 명</th>
                                <th>쿠폰 타입</th>
                                <th>할인 금액</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="coupon : ${coupons}">
                                <td th:text="${coupon.name}">쿠폰 명</td>
                                <td th:text="${coupon.type}">쿠폰 타입</td>
                                <td th:text="${coupon.discountType == 'PERCENT' ? coupon.discountAmount + '%' : coupon.discountAmount + '원'}">할인 금액</td>
                            </tr>
                            <!-- 추가적인 쿠폰내역을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/store/footer::footer}"></div>
</body>
</html>
