<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>NovaBook - 리뷰 관리</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <style>
        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
            color: #fff;
        }
    </style>
</head>

<body>
<div th:replace="~{layout/store/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/store/sidebar::sidebar}"></div>
            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 리뷰 관리 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2 th:text="#{section.title}">리뷰 관리</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th th:text="#{table.header.orderNumber}">주문 번호</th>
                                <th th:text="#{table.header.bookContent}">책 내용</th>
                                <th th:text="#{table.header.orderDate}">주문 날짜</th>
                                <th th:text="#{table.header.writtenReview}">작성 리뷰</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="book : ${ordersBook.data}">
                                <td th:text="${book.ordersId}">12345</td>
                                <td th:text="${book.bookTitle}"> 책 제목 1</td>
                                <td th:text="${book.orderAt}">2024-06-15</td>
                                <td>
                                    <a th:value="${book.reviewId}"
                                       th:class="${book.reviewId != null ? 'btn btn-secondary' : 'btn btn-primary'}"
                                       th:href="@{'/mypage/reviews/' + ${book.reviewId != null ? book.reviewId + '/update' : book.ordersBookId}}">
                                    <span th:if="${book.reviewId != null}" th:text="#{button.editReview}">리뷰 수정</span>
                                    <span th:unless="${book.reviewId != null}" th:text="#{button.writeReview}">리뷰 쓰기</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/mypage" class="btn btn-primary" th:text="#{button.back}">돌아가기</a>

                        <!-- 페이져블 JS 추가 -->
                        <div class="pagination">
                            <!-- Previous button -->
                            <li class="page-item" th:classappend="${ordersBook.getPageNum() == 0} ? 'disabled'">
                                <a th:if="${ordersBook.getPageNum() > 0}" th:href="@{/mypage/reviews(page=${ordersBook.getPageNum() - 1})}">Previous</a>
                                <span th:if="${ordersBook.getPageNum() == 0}">Previous</span>
                            </li>

                            <!-- Page numbers -->
                            <li class="page-item" th:if="${ordersBook.getTotalPageCount() > 0}" th:each="i : ${#numbers.sequence(0, ordersBook.getTotalPageCount() - 1)}">
                                <a th:href="@{/mypage/reviews(page=${i})}" th:text="${i + 1}+'&nbsp;'"
                                   th:classappend="${i == ordersBook.getPageNum()} ? 'active' : ''"></a>
                            </li>

                            <!-- Next button -->
                            <li class="page-item"
                                th:classappend="${ordersBook.getPageNum() >= ordersBook.getTotalPageCount() - 1} ? 'disabled'">
                                <a th:if="${ordersBook.getPageNum() < ordersBook.getTotalPageCount() - 1}"
                                   th:href="@{/mypage/reviews(page=${ordersBook.getPageNum() + 1})}">Next</a>
                                <span th:if="${ordersBook.getPageNum() >= ordersBook.getTotalPageCount() - 1}">Next</span>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div th:replace="~{layout/store/footer::footer}"></div>
</body>
</html>
