<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕 - 리뷰 관리</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <style>
        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
            color: #fff;
        }
    </style>
</head>

<body>
<div th:replace="~{layout/store/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/store/sidebar::sidebar}"></div>
            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 리뷰 관리 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>리뷰 관리</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>주문 번호</th>
                                <th>책 내용</th>
                                <th>주문 날짜</th>
                                <th>작성 리뷰</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>12345</td>
                                <td>책 제목 1</td>
                                <td>2024-06-15</td>
                                <td><a href="#" class="btn btn-secondary reviewBtn" data-review="리뷰 내용 1">리뷰 수정</a></td>
                            </tr>
                            <tr>
                                <td>67890</td>
                                <td>책 제목 2</td>
                                <td>2024-06-14</td>
                                <td><a href="#" class="btn btn-primary reviewBtn">리뷰 쓰기</a></td>
                            </tr>
                            <!-- 추가적인 리뷰 항목을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                        <a href="/mypage" class="btn btn-primary">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 리뷰 모달 -->
<div id="reviewModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">리뷰 쓰기/수정</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="reviewText">리뷰 내용</label>
                        <textarea class="form-control" id="reviewText" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary">저장</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('.reviewBtn').on('click', function() {
            var reviewText = $(this).data('review');
            $('#reviewText').val(reviewText ? reviewText : '');
            $('#reviewModal').modal('show');
        });
    });
</script>

<div th:replace="~{layout/store/footer::footer}"></div>
</body>
</html>
