<!DOCTYPE html>
<html lang="en">
<div th:fragment="admin_sidebar" class="sidebar">
    <img src="/images/whitelogo.png" alt="Orani E-shop" style=" width:100%; display: inline; padding-bottom: 10%">
    <a href="/admin">Dashboard</a>
    <a href="/admin/books">Book</a>
    <a href="/admin/coupons">Coupon</a>
    <a href="/admin/points/point/form">Point</a>
    <a href="/admin/deliveries/delivery/form">Delivery</a>
    <a href="/admin/orders">Order</a>
    <a href="/admin/categories">Category</a>
    <a href="/admin/tags">Tag</a>
    <a href="#users">Users</a>
    <a href="#settings">Settings</a>
    <a href="#logout">Logout</a>
</div>
</html>