<!DOCTYPE html>
<html lang="en">
<div th:fragment="admin_sidebar" class="sidebar">
    <img src="/images/whitelogo.png" alt="Orani E-shop" style=" width:100%; display: inline; padding-bottom: 10%">
    <a href="/admin">Dashboard</a>
    <a href="#settings">Book</a>
    <a href="/admin/coupon/detail">Coupon</a>
    <a href="/admin/point">Point</a>
    <a href="/admin/delivery">Delivery</a>
    <a href="/admin/order">Order</a>
    <a href="/admin/tag/detail">Tag</a>
    <a href="#users">Users</a>
    <a href="#settings">Settings</a>
    <a href="#logout">Logout</a>
</div>
</html>