<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕 - 포인트 내역</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
<div th:replace="~{layout/store/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/store/sidebar::sidebar}"></div>
            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 보유 포인트 섹션 -->
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="card border-primary">
                            <div class="card-body text-center">
                                <h2 class="card-title" th:text="#{point.section.title}">보유 포인트</h2>
                                <p class="card-text font-weight-bold text-primary" style="font-size: 3rem;" th:text="${point}">1500</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 포인트 내역 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2 th:text="#{point.history.title}">포인트 내역</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th th:text="#{point.history.date}">날짜</th>
                                <th th:text="#{point.history.content}">내용</th>
                                <th th:text="#{point.history.change}">포인트 변동</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="pointHistory : ${pointHistories.data}">
                                <td th:text="${pointHistory.createdAt}">2024-06-15</td>
                                <td th:text="${pointHistory.pointContent}">구매 포인트 적립</td>
                                <td>
                                    <span th:if="${pointHistory.pointAmount > 0}" th:text="'+' + ${pointHistory.pointAmount}" style="color: blue;"></span>
                                    <span th:unless="${pointHistory.pointAmount > 0}" th:text="${pointHistory.pointAmount}" style="color: gray;"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/mypage" class="btn btn-primary" th:text="#{button.back}">돌아가기</a>
                        <div class="pagination">
                            <!-- Previous button -->
                            <li class="page-item" th:classappend="${pointHistories.getPageNum() == 0} ? 'disabled'">
                                <a th:if="${pointHistories.getPageNum() > 0}" th:href="@{/mypage/points(page=${pointHistories.getPageNum() - 1})}" th:text="#{pagination.previous}">Previous</a>
                                <span th:if="${pointHistories.getPageNum() == 0}" th:text="#{pagination.previous}">Previous</span>
                            </li>

                            <!-- Page numbers -->
                            <li class="page-item" th:if="${pointHistories.getTotalPageCount() > 0}" th:each="i : ${#numbers.sequence(0, pointHistories.getTotalPageCount() - 1)}">
                                <a th:href="@{/mypage/points(page=${i})}" th:text="${i + 1} + '&nbsp;'" th:classappend="${i == pointHistories.getPageNum()} ? 'active' : ''"></a>
                            </li>

                            <!-- Next button -->
                            <li class="page-item" th:classappend="${pointHistories.getPageNum() >= pointHistories.getTotalPageCount() - 1} ? 'disabled'">
                                <a th:if="${pointHistories.getPageNum() < pointHistories.getTotalPageCount() - 1}" th:href="@{/mypage/points(page=${pointHistories.getPageNum() + 1})}" th:text="#{pagination.next}">Next</a>
                                <span th:if="${pointHistories.getPageNum() >= pointHistories.getTotalPageCount() - 1}" th:text="#{pagination.next}">Next</span>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{layout/store/footer::footer}"></div>
</body>
</html>
