<!DOCTYPE HTML>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/category.js"></script>
    <div class="top-bar">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <div class="social pull-left">

                        <ul>

                            <li><a href=""><i class="fa fa-facebook"></i></a></li>

                            <li><a href=""><i class="fa fa-twitter"></i></a></li>

                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>

                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="action pull-right">

                        <ul th:if="${not isLoggedIn}">
                            <li>
                                <a href="/login"><i class="fa fa-user"></i> MyPage</a>
                            </li>
                            <li>
                                <a href="/login"><i class="fa fa-user"></i> Login</a>
                            </li>
                            <li>
                                <a href="/users/user/form"><i class="fa fa-lock"></i> Register</a>
                            </li>
                        </ul>

                        <ul th:if="${isLoggedIn}">
                            <li>
                                <a href="/mypage"><i class="fa fa-book"></i> MyPage</a>
                            </li>
                            <li>
                                <a href="/users/user/form/logout"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="header">

        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-4">

                    <div class="logo">

                        <a href="/">

                            <img src="/images/logo.png" alt="Orani E-shop">

                        </a>

                    </div>

                </div>

                <div class="col-md-7 col-sm-5">

                    <div class="search-form">
                        <form class="navbar-form" role="search" method="get" th:action="@{/search/keyword}">
                            <div class="form-group">
                                <input type="text" class="form-control" name="keyword" placeholder="도서를 검색하세요">

                                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>

                            </div>

                        </form>

                    </div>
                </div>

                <div class="col-md-2 col-sm-3">

                    <div class="cart">
                        <a href="/carts">
                            <div class="cart-icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                        </a>
                    </div>

                    <b>
                        <div id="member-name">Loading...</div>
                    </b>
                    환영합니다 !!
                </div>
            </div>
        </div>
    </div>

    <div class="navigation">

        <nav class="navbar navbar-theme">

            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false">

                        <span class="sr-only">Menu</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                    </button>

                </div>

                <!--                <div class="shop-category nav navbar-nav navbar-left">-->
                <!--                    &lt;!&ndash; Single button &ndash;&gt;-->
                <!--                    <div class="btn-group">-->
                <!--                        <button type="button" class="btn btn-shop-category dropdown-toggle" data-toggle="dropdown"-->
                <!--                                aria-haspopup="true" aria-expanded="false">카테고리 <span class="caret"></span>-->
                <!--                        </button>-->
                <!--                        <ul class="dropdown-menu">-->
                <!--                            &lt;!&ndash; Iterate over categories &ndash;&gt;-->
                <!--                            <li class="dropdown-submenu" th:each="category : ${categories.categories}">-->
                <!--                                <a th:href="@{/search/category(category=${category.name})}" th:text="${category.name}" class="dropdown-toggle" data-toggle="dropdown">상위카테고리이름<span class="caret"></span></a>-->

                <!--                                <ul class="dropdown-menu">-->
                <!--                                    &lt;!&ndash; Iterate over subcategories of current category &ndash;&gt;-->
                <!--                                    <li th:each="subCategory : ${category.sub}">-->
                <!--                                        <a th:text="${subCategory.name}" th:href="@{/search/category(category=${subCategory.name})}">하위카테고리이름</a>-->
                <!--                                    </li>-->
                <!--                                </ul>-->
                <!--                            </li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="shop-category nav navbar-nav navbar-left">
                    <div class="btn-group">
                        <button type="button" class="btn btn-shop-category dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">카테고리 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="category-dropdown">
                            <!-- Categories will be injected here -->
                        </ul>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="navbar">

                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="#">Home</a></li>

                        <li><a href="#">Blog</a></li>

                        <li><a href="#">Shortcode</a></li>

                        <li><a href="#">Features</a></li>

                        <li><a href="#">Media</a></li>

                        <li><a href="#">About Us</a></li>

                        <li><a href="#">Contact Us</a></li>

                    </ul>

                </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->

        </nav>

    </div>

</div>

</html>
