<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <style>
        /* 화살표 스타일링 */
        .swiper-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border-radius: 50%;
            cursor: pointer;
            z-index: 10;
            transition: background-color 0.3s ease;
        }

        .swiper-button-next {
            right: 10px;
        }

        .swiper-button-prev {
            left: 10px;
        }

        .swiper-button-next:hover,
        .swiper-button-prev:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
        .original-price {
            color: gray;
            text-decoration: line-through;
        }
        .title  > a {
            color: black;
        }
    </style>
</head>

<body>
<div th:replace="~{layout/store/nav::nav}"></div>

<div class="slider">

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-sm-8">

                <div class="slider big-slider">

                    <!-- Swiper Container -->
                    <div id="featured" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#featured" data-slide-to="0" class="active"></li>
                            <li data-target="#featured" data-slide-to="1"></li> <!-- 두 번째 슬라이드 -->
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="swiper-container">
                            <div class="carousel-inner swiper-wrapper" role="listbox">

                                <div class="item active swiper-slide" style="background-image:url('/images/slider-1.png')">
                                    <div class="carousel-caption">
                                        <h4>이달의 작가와 함께하는</h4>
                                        <h2 class="raleway">새로운 신상 도서 <span>2024</span></h2>
                                        <a href="/books/book/80" class="btn btn-theme">보러 가기</a>
                                    </div>
                                </div>

                                <!-- 추가 슬라이드들 -->
                                <div class="item swiper-slide" style="background-image:url('/images/slider-2.png')">
                                    <div class="carousel-caption">
                                        <h4></h4>
                                        <h2 class="raleway"><span></span></h2>
                                        <a href="/coupons/limited" class="btn btn-theme">보러 가기</a>
                                    </div>
                                </div>

                                <!-- 필요한 만큼 슬라이드 추가 -->

                            </div>

                            <!-- 이전/다음 버튼 -->
                            <div class="swiper-button-next swiper-button"></div>
                            <div class="swiper-button-prev swiper-button"></div>

                            <!-- 페이지 네이션 -->
                            <div class="swiper-pagination"></div>
                        </div>


                    <!--                        <div class="carousel-inner" role="listbox">-->

<!--                            <div class="item active" style="background-image:url('/images/slider-1.png')">-->

<!--                                <div class="carousel-caption">-->

<!--                                    <h4>Save up to 30%</h4>-->

<!--                                    <h2 class="raleway">새로운 신상 도서 <span>2024</span></h2>-->

<!--                                    <a href="" class="btn btn-theme">보러 가기</a>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

                    </div>

                </div>

            </div>

            <div class="col-md-4 col-sm-4">

                <div class="slider small-slider">

                    <div id="small-featured" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">

                            <li data-target="#small-featured" data-slide-to="0" class="active"></li>

                        </ol>


                        <div class="carousel-inner" role="listbox">

                            <div class="item active coupon-banner-3" style="background-image:url('/images/banner-3.png')">

                                <div class="carousel-caption">

                                    <h3>쿠폰북</h3>

                                    <p>Save up to 50%</p>

                                    <a href="/coupons" class="btn btn-theme">보러 가기</a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<!--<div class="banner">-->

<!--    <div class="container">-->

<!--        <div class="row">-->

<!--            <div class="col-md-4 col-sm-4">-->

<!--                <div class="single-banner" style="background-image:url(/images/image.png);" >-->

<!--                    <div class="banner-caption">-->

<!--                        <h3> 오늘의 작가 </h3> <h2 class="raleway"> 이상민 작가</h2>-->

<!--                        <a href="" class="btn btn-theme">보러 가기</a>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->

<!--            <div class="col-md-4 col-sm-4">-->

<!--                <div class="single-banner" style="background-image:url(/images/banner-2.jpg)">-->

<!--                    <div class="banner-caption">-->

<!--                        <h3>Men Shirt Collection</h3>-->

<!--                        <a href="" class="btn btn-theme">보러 가기</a>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->

<!--            <div class="col-md-4 col-sm-4">-->

<!--                <div class="single-banner" style="background-image:url(/images/banner-3.png)">-->

<!--                    <div class="banner-caption">-->

<!--                        <h3>쿠폰북<br> EVENT</h3>-->

<!--                        <a href="/coupons" class="btn btn-theme">보러 가기</a>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--    </div>-->

<!--</div>-->



<div class="featured-items">

    <div class="container">

        <div class="row">

            <ul class="nav nav-tabs nav-product-tabs">

                <li class="active"><a href="#trending" data-toggle="tab">최신 도서</a></li>

<!--                <li><a href="#best-seller" data-toggle="tab">Best Seller</a></li>-->



<!--                <li class="pull-right collection-url"><a href="">View All <i class="fa fa-long-arrow-right"></i></a></li>-->

            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="newbooks">
                    <div th:each="book : ${newBooks}" class="col-md-3 col-sm-4">
                        <div class="single-product">
                            <div class="product-block">
                                <img th:src="@{${book.image}}" alt="" class="thumbnail">
                                <div class="product-description text-center">

                                    <p class="title"><a th:href="@{/books/book/{id}(id=${book.id})}"  th:text="${#strings.length(book.title) > 20 ? book.title.substring(0, 20) + '...' : book.title}">Title</a></p>
                                    <p class="price" th:text="${#numbers.formatInteger(book.discountPrice, 1, 'COMMA')} + '원'">11,700원 </p>
                                </div>
                                <div class="product-hover">
                                    <ul>
                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>
                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>
                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>

            </div>

<!--                <div class="tab-pane fade" id="best-seller">-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-9.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-10.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-11.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-12.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-13.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-14.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-15.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-16.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->

            </div>

        </div>

    </div>

</div>

<div class="popular-items">
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs nav-product-tabs">
                <li class="active"><a href="#popular" data-toggle="tab">인기 도서</a></li>
<!--                <li class="pull-right collection-url"><a href="">View All <i class="fa fa-long-arrow-right"></i></a></li>-->
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="popular">
                    <div th:each="book : ${popularBooks}" class="col-md-3 col-sm-4">
                        <div class="single-product">
                            <div class="product-block">
                                <img th:src="@{${book.image}}" alt="" class="thumbnail">
                                <div class="product-description text-center">

                                    <p class="title"><a th:href="@{/books/book/{id}(id=${book.id})}"  th:text="${#strings.length(book.title) > 20 ? book.title.substring(0, 20) + '...' : book.title}">Title</a></p>
                                    <p class="price" th:text="${#numbers.formatInteger(book.discountPrice, 1, 'COMMA')} + '원'">11,700원 </p>
                                </div>
                                <div class="product-hover">
                                    <ul>
                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>
                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>
                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--                <div class="tab-pane fade" id="special">-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-8.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-7.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-6.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-5.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-4.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-3.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-2.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-md-3 col-sm-4">-->

<!--                        <div class="single-product">-->

<!--                            <div class="product-block">-->

<!--                                <img src="images/product-1.jpeg" alt="" class="thumbnail">-->

<!--                                <div class="product-description text-center">-->

<!--                                    <p class="title">Date Tiffany Torchiere</p>-->

<!--                                    <p class="price">$ 55.00</p>-->

<!--                                </div>-->

<!--                                <div class="product-hover">-->

<!--                                    <ul>-->

<!--                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>-->

<!--                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>-->

<!--                                    </ul>-->

<!--                                </div>-->

<!--                            </div>-->

<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->

            </div>

        </div>

    </div>

</div>



<!--<div class="blog">-->

<!--    <div class="container">-->

<!--        <div class="row">-->

<!--            <div class="blog-title">-->

<!--                <h2 class="pull-left text-left">From The Blog</h2>-->

<!--                <a href="" class="pull-right text-right">More Post <i class="fa fa-long-arrow-right"></i></a>-->

<!--            </div>-->

<!--            <div class="clearfix"></div>-->

<!--            <div class="col-md-4 col-sm-4">-->

<!--                <div class="single-post">-->

<!--                    <div class="post-inner">-->

<!--                        <div class="post-thumbnail">-->

<!--                            <img src="images/post-1.jpg" alt="">-->

<!--                            <div class="date">31<br> Jun</div>-->

<!--                            <a href="" class="read-more raleway">Read More <i class="fa fa-long-arrow-right"></i>-->

<!--                            </a>-->

<!--                        </div>-->

<!--                        <h4 class="post-title">Party Night Dresses Available Delivery Let's Start</h4>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->

<!--            <div class="col-md-4 col-sm-4">-->

<!--                <div class="single-post">-->

<!--                    <div class="post-inner">-->

<!--                        <div class="post-thumbnail">-->

<!--                            <img src="images/post-2.jpg" alt="">-->

<!--                            <div class="date">31<br> Jun</div>-->

<!--                            <a href="" class="read-more raleway">Read More <i class="fa fa-long-arrow-right"></i>-->

<!--                            </a>-->

<!--                        </div>-->

<!--                        <h4 class="post-title">At the early beginnings of the Web written content</h4>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->

<!--            <div class="col-md-4 col-sm-4">-->

<!--                <div class="single-post">-->

<!--                    <div class="post-inner">-->

<!--                        <div class="post-thumbnail">-->

<!--                            <img src="images/post-3.jpg" alt="">-->

<!--                            <div class="date">31<br> Jun</div>-->

<!--                            <a href="" class="read-more raleway">Read More <i class="fa fa-long-arrow-right"></i>-->

<!--                            </a>-->

<!--                        </div>-->

<!--                        <h4 class="post-title">Let’s start with the most essential part of any written content</h4>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--    </div>-->

<!--</div>-->

<div class="shopping-process text-center">

    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-3">

                <div class="single-process">

                    <i class="fa fa-check"></i>

                    <h3>Choose a Product</h3>

                    <p>The European languages are members the same family. Their separate existence science </p>

                </div>

            </div>

            <div class="col-md-4 col-sm-3">

                <div class="single-process">

                    <i class="fa fa-cart-arrow-down"></i>

                    <h3>Add to Cart</h3>

                    <p>The European languages are members the same family. Their separate existence science </p>

                </div>

            </div>

            <div class="col-md-4 col-sm-3">

                <div class="single-process">

                    <i class="fa fa-money"></i>

                    <h3>Make Order</h3>

                    <p>The European languages are members the same family. Their separate existence science </p>

                </div>

            </div>

        </div>

    </div>

</div>


<div th:replace="~{layout/store/footer::footer}"></div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            allowTouchMove: true, // 사용자 입력 허용
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                renderBullet: function (index, className) {
                    return '<span class="' + className + '">' + (index + 1) + '</span>';
                },
            },
        });
    });
</script>

</body>
</html>
