<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>NovaBook📕</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
</head>

<style>
    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    .product-info-btn .fa-heart-o {
        color: #777; /* 기본 하트 아이콘 색상 */
    }

    .product-info-btn .fa-heart {
        color: red; /* 좋아요 상태에서 빨간색으로 변경할 색상 */
    }

    .coupon-list {
        list-style: none;
        padding: 0;
    }

    .review-size {
        min-height: 50px;
    }

    .coupon-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #e5e5e5;
    }

    .coupon-download {
        background: none;
        border: none;
        font-size: 18px;
        color: #337ab7;
        cursor: pointer;
        padding: 0;
    }

    .coupon-download:hover {
        color: #23527c;
    }

    .modal-dialog {
        max-width: 800px; /* 원하는 너비로 조정 */
    }

    .table th:nth-child(3), .table td:nth-child(3) {
        white-space: pre-line; /* 줄 바꿈 허용 */
    }
</style>


<body>

<div th:replace="~{layout/store/nav::nav}"></div>

<!-- 타임리프 변수 정의 -->
<div th:if="${book}">
    <input type="hidden" id="bookId" th:value="${book.id}">
    <input type="hidden" id="bookTitle" th:value="${book.title}">
    <input type="hidden" id="bookImage" th:value="${book.image}">
    <input type="hidden" id="bookPrice" th:value="${book.price}">
    <input type="hidden" id="bookDiscountPrice" th:value="${book.discountPrice}">
    <input type="hidden" id="bookIsPackaged" th:value="${book.isPackaged}">
    <input type="hidden" id="bookStatusId" th:value="${book.bookStatusId}">
</div>

<div class="breadcumbs">

    <div class="container">

        <div class="row">
            <span class="strong-text">카테고리:</span>
            <span th:each="category, iterStat : ${book.categories}">
                    <span th:text="${category}"></span>
                    <span th:if="${!iterStat.last}">> </span>
            </span>
        </div>
    </div>
</div>


<div class="short-description">

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <div class="product-thumbnail">

                    <div class="col-md-10 col-sm-10 col-xs-10">
                        <div><a href="">
                            <img class="thumb-main-image" th:src="${book.image}" alt=""></a>
                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

            </div>

            <div class="col-md-6">

                <h1 class="product-title" th:text="${book.title}">리틀 라이프 1 </h1>


                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span class="vote-count" th:text="${book.score}"> 평점 4.6 점</span>

                    &nbsp;&nbsp;

                    <i class="fa fa-heart"></i>
                    <span class="vote-count" th:text="${book.likes}"> 좋아요 35 개</span>
                </div>

                <div class="product-info">
                    <span class="product-id strong-text" th:text="${book.author}"><span>저자:</span> 한야 야나기하라</span>
                </div>
                <br>

                <p>
                    <span class="strong-text">카테고리:</span>
                    <span th:each="category, iterStat : ${book.categories}">
                    <span th:text="${category}"></span>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
                </p>
                <p>
                    <span class="strong-text">태그:</span>
                    <span th:each="tag, iterStat : ${book.tags}">
                    <span th:text="${tag}"></span>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
                </p>
                <p><span class="strong-text">설명:</span> <span
                        th:text="${book.description}">한 남자의 슬픈 인생 여행기! 최다 판매 도서</span></p>
                <br><br>

                <hr>

                <p>
                    <span class="strong-text" style="font-size: 16px;">판매가:</span>
                    <span th:text="${#numbers.formatInteger(book.discountPrice, 1, 'COMMA')} + '원'" class="price_real">12,600 원</span>
                    <span style="margin-left: 16px; font-size: 16px;" class="strong-text">정가:</span>
                    <span th:text="${#numbers.formatInteger(book.price, 1, 'COMMA')} + '원'" class="price_original">12,600 원</span>
                    <span style="margin-left: 16px; font-size: 16px;" class="strong-text">적립 포인트:</span>
                    <span th:text="${#numbers.formatInteger(400, 1, 'COMMA')} + '원'" class="price_point">400 원</span>
                    <span style="margin-left: 16px; font-size: 16px;" class="strong-text" th:if="${book.isPackaged}">포장 가능</span>
                    <span style="margin-left: 16px; font-size: 16px;" class="strong-text" th:if="${!book.isPackaged}">포장 불가</span>
                </p>

                <form class="purchase-form">
                    <div class="qt-area">
                        <i class="fa fa-minus"></i>
                        <input id="bookQuantity" class="qt" value="1"
                               th:disabled="${book.bookStatusId == 2 or book.bookStatusId == 3}">
                        <i class="fa fa-plus"></i>
                    </div>
                    <button id="addCartButton" class="btn btn-theme" type="submit"
                            th:text="${book.bookStatusId == 2 ? '일시품절' : (book.bookStatusId == 3 ? '품절' : 'Add to cart')}"
                            th:classappend="${book.bookStatusId == 2 or book.bookStatusId == 3} ? ' disabled' : ''"
                            th:onclick="${book.bookStatusId == 2 or book.bookStatusId == 3} ? '' : 'addCart()'">
                        Add to cart
                    </button>
                </form>

                <button class="btn product-info-btn" type="button" onclick="toggleLike()">
                    <i class="fa" th:classappend="${isLiked ? 'fa-heart' : 'fa-heart-o'}"
                       th:style="${isLiked ? 'color: red;' : ''}"></i> 좋아요
                </button>
                <button type="button" class="btn btn-primary" style="color: white; background-color: #0e0e0e"
                        data-toggle="modal" data-target="#couponModal"
                        th:data-book-id="${book.id}">
                    쿠폰 다운로드
                </button>

            </div>

        </div>

    </div>

</div>

<!-- 쿠폰 모달 시작 -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="couponModalLabel">쿠폰 다운로드</h4>
            </div>
            <div class="modal-body">
                <ul class="coupon-list" id="bookCouponList">
                    <!-- 도서 쿠폰 데이터가 여기에 동적으로 추가됩니다 -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <!--                <button type="button" class="btn btn-primary">쿠폰 적용</button>-->
            </div>
        </div>
    </div>
</div>
<!-- 쿠폰 모달 끝 -->


<div class="container">

    <div class="row">

        <div class="single-product-tabs">

            <ul class="nav nav-tabs nav-single-product-tabs">

                <li class="active"><a href="#description" data-toggle="tab">Description</a></li>

                <li><a href="#reviews" data-toggle="tab">Reviews</a></li>

            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="description">

                    <div class="product-desc">

                        <h2>책 설명</h2>

                        <p th:text="${book.descriptionDetail}">
                            천 페이지를 압도하는 폭풍 같은 서사
                            2015년 맨부커상 최고의 화제작

                            이 소설을 소개하는 가장 좋은 방법은, 너무나 흔한 관용구대로 “결코 손에서 놓을 수 없다”고 말하는 것이다. 독자를 두렵고 불편하게 하면서도 사로잡는 소설을 묘사할
                            더 적절한 표현은 없다. _커커스 문학상 선정단

                            영미권을 대표하는 문학상 맨부커상과 전미도서상 최종후보에 나란히 오르고, [뉴욕타임스] [워싱턴포스트] [가디언] [월스트리트저널]을 비롯한 25개 언론사에서
                            ‘올해의 책’으로 꼽은 화제작 《리틀 라이프》가 한국어판으로 출간되었다. 영국과 미국의 대표 문학상 후보에 선정되기 전부터 독자들 사이에서는 “밤을 새워 읽었다”
                            “천 페이지가 더 길었으면 하는 소설은 처음이다” “눈물이 나 몇 번을 읽다 멈춰야 했다” “충격적이고 가슴 아프다” “읽는 내내 매일 밤 이 소설에 관한 꿈을
                            꿨다” 같은 리뷰와 함께 이미 입소문이 퍼진 작품으로, 맨부커상 후보작으로 선정된 후 이례적으로 홈페이지에 응원 댓글이 달리며 독자들의 열렬한 지지를 받았다. 어린
                            시절 끔찍한 학대와 폭력의 트라우마를 간직한 비밀스러운 인물 주드의 이야기를 담은 《리틀 라이프》는 또한 그 소재의 선정성과 가차 없음으로 심사위원들 사이에서 가장
                            논쟁적인 작품이 되기도 했다.

                            현대 소설로는 드물게 요약본과 해설서가 등장하고, 서평 사이트 ‘굿리즈’에 4만 명이 넘는 독자들이 별점 4점 이상의 평점을 남기고 있으며, 영화 [캐롤]의 배우
                            루니 마라가 추천 도서로 꼽는 등, 출간된 지 일 년이 넘은 지금도 여전히 독자들의 가슴에 큰 반향을 일으키고 있다.</p>

                    </div>

                </div>

                <div class="tab-pane" id="reviews">
                    <!--                -->
                    <div class="container-fluid px-1 py-5 mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5" id="review-content">
                                <!-- Swiper Container -->
                                <div class="swiper-container">
                                    <!-- Swiper Wrapper -->
                                    <div class="swiper-wrapper">
                                        <!-- Thymeleaf 반복문으로 슬라이드 생성 -->
                                        <div class="swiper-slide" th:each="review : ${reviews.getReviewResponses()}">
                                            <div class="card" style="background-color: #E8E8E8FF">
                                                <div class="row d-flex">
                                                    <div class="d-flex flex-column">
                                                        <h3 class="mt-2 mb-0" th:text="${review.nickName}">Username</h3>
                                                        <div>
                                                            <p class="text-left">
                                                                <span class="text-muted"
                                                                      th:text="${review.score} + '.0'">4.0</span>
                                                                <span th:each="star, iterStat : ${#numbers.sequence(1, 5)}"
                                                                      class="fa fa-star"
                                                                      th:classappend="${iterStat.count <= review.score} ? 'star-active' : 'star-inactive'"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <p class="text-muted pt-5 pt-sm-3"
                                                           th:text="${review.createdAt}">Date</p>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <p class="content" th:text="${review.content}">Review Content</p>
                                                </div>
                                                <div class="row text-left">
                                                    <div th:if="${#lists.isEmpty(review.reviewImages) or review.reviewImages[0] == null}">
                                                        이미지 없음
                                                    </div>
                                                    <div th:unless="${#lists.isEmpty(review.reviewImages) or review.reviewImages[0] == null}">
                                                        <img class="pic" th:each="image : ${review.reviewImages}"
                                                             th:src="${image}" th:attr="data-image-url=${image}"
                                                             onclick="openImage(this)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Pagination if needed -->
                                    <div class="swiper-pagination"></div>
                                    <!-- Add Navigation buttons if needed -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    -->
                </div>
            </div>

        </div>

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="related-items">

            <ul class="nav nav-tabs nav-single-product-tabs">

                <li class="active"><a href="#related" data-toggle="tab">Related Products</a></li>

            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="related">

                    <div class="col-md-3 col-sm-4">

                        <div class="single-product">

                            <div class="product-block">

                                <img src="/images/product-1.jpeg" alt="" class="thumbnail">

                                <div class="product-description text-center">

                                    <p class="title">Date Tiffany Torchiere</p>

                                    <p class="price">$ 55.00</p>

                                </div>

                                <div class="product-hover">

                                    <ul>

                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>

                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>

                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4">

                        <div class="single-product">

                            <div class="product-block">

                                <img src="/images/product-2.jpeg" alt="" class="thumbnail">

                                <div class="product-description text-center">

                                    <p class="title">Date Tiffany Torchiere</p>

                                    <p class="price">$ 55.00</p>

                                </div>

                                <div class="product-hover">

                                    <ul>

                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>

                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>

                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4">

                        <div class="single-product">

                            <div class="product-block">

                                <img src="/images/product-3.jpeg" alt="" class="thumbnail">

                                <div class="product-description text-center">

                                    <p class="title">Date Tiffany Torchiere</p>

                                    <p class="price">$ 55.00</p>

                                </div>

                                <div class="product-hover">

                                    <ul>

                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>

                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>

                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4">

                        <div class="single-product">

                            <div class="product-block">

                                <img src="/images/product-4.jpeg" alt="" class="thumbnail">

                                <div class="product-description text-center">

                                    <p class="title">Date Tiffany Torchiere</p>

                                    <p class="price">$ 55.00</p>

                                </div>

                                <div class="product-hover">

                                    <ul>

                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>

                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>

                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        console.log("DOMContentLoaded");
        $('#couponModal').on('show.bs.modal', function (event) {
            console.log("function start");
            var button = $(event.relatedTarget); // 버튼을 통해 이벤트를 트리거
            var bookId = button.data('book-id'); // `data-book-id` 속성에서 값 가져오기

            // 도서 쿠폰 가져오기
            axios.get(`http://localhost:8080/coupons/book/${bookId}`)
                .then(function (response) {
                    var bookCouponList = document.getElementById('bookCouponList');
                    bookCouponList.innerHTML = ''; // 기존 목록을 비웁니다.

                    var table = document.createElement('table');
                    table.className = 'table table-striped text-center tc'; // 가운데 정렬

                    var thead = document.createElement('thead');
                    var headerRow = document.createElement('tr');
                    headerRow.innerHTML = `
                    <th class="tc">쿠폰명</th>
                    <th class="tc">할인 금액</th>
                    <th class="tc">다운로드 가능 기간</th>
                    <th class="tc">사용 가능 기간</th>
                    <th class="tc">다운로드</th>
                `;
                    thead.appendChild(headerRow);
                    table.appendChild(thead);

                    var tbody = document.createElement('tbody');

                    response.data.responseList.forEach(function (couponTemplate) {
                        var row = document.createElement('tr');

                        var couponNameCell = document.createElement('td');
                        couponNameCell.textContent = couponTemplate.name;

                        var discountInfoCell = document.createElement('td');
                        discountInfoCell.textContent = couponTemplate.discountAmount + (couponTemplate.discountType === 'PERCENT' ? '%' : '원');

                        var validPeriodCell = document.createElement('td');
                        var startedAt = new Date(couponTemplate.startedAt).toLocaleString();
                        var expirationAt = new Date(couponTemplate.expirationAt).toLocaleString();
                        validPeriodCell.textContent = `${startedAt}\n~\n${expirationAt}`;

                        var usePeriodCell = document.createElement('td');
                        var days = Math.floor(couponTemplate.usePeriod / 24);
                        var hours = couponTemplate.usePeriod % 24;
                        usePeriodCell.textContent = `${days}일 ${hours}시간`;

                        var downloadButtonCell = document.createElement('td');
                        var downloadButton = document.createElement('button');
                        downloadButton.className = 'coupon-download';
                        downloadButton.innerHTML = '<i class="fa fa-download"></i>';
                        downloadButton.onclick = function () {
                            downloadCoupon(couponTemplate.id, downloadButton);
                        };

                        downloadButtonCell.appendChild(downloadButton);

                        row.appendChild(couponNameCell);
                        row.appendChild(discountInfoCell);
                        row.appendChild(validPeriodCell);
                        row.appendChild(usePeriodCell);
                        row.appendChild(downloadButtonCell);

                        tbody.appendChild(row);
                    });

                    table.appendChild(tbody);
                    bookCouponList.appendChild(table);
                })
                .catch(function (error) {
                    console.error('Error fetching book coupons:', error);
                });
        });
    });

    function downloadCoupon(couponTemplateId, buttonElement) {
        axios.post('/coupons/download', {couponTemplateId: couponTemplateId})
            .then(function (response) {
                alert('쿠폰이 성공적으로 다운로드되었습니다.');
                buttonElement.classList.add('disabled');
                buttonElement.disabled = true;
                buttonElement.style.color = 'gray';
                buttonElement.querySelector('.fa-download').style.color = 'gray';
            })
            .catch(function (error) {
                console.error('Error downloading coupon:', error);
            });
    }


    function toggleLike() {
        var bookId = document.getElementById('bookId').value;
        var icon = document.querySelector('.product-info-btn i.fa'); // 아이콘을 가져옵니다.


        if (!bookId) {
            alert("책의 식별자를 가져올 수 없습니다.");
            return;
        }

        axios.request({
            url: '/api/v1/front/books/likes/' + bookId,
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.data.isLiked) {
                console.log("좋아요")
                icon.classList.remove("fa-heart-o");
                icon.classList.add("fa-heart");
                icon.style.color = "red";
            } else {
                console.log("좋아요 취소")
                icon.classList.remove("fa-heart");
                icon.classList.add("fa-heart-o");
                icon.style.color = "";
            }
        })
            .catch(error => {
                alert(error.response.data);
                console.error('Error cart add:', error.response.data);
            });

    }

    // review
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize Swiper
        new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });

    //review image
    function openImage(element) {
        var imageUrl = element.getAttribute('data-image-url');
        window.open(imageUrl);
    }


    function addCart() {
        var bookId = document.getElementById('bookId').value;
        var bookTitle = document.getElementById('bookTitle').value;
        var bookImage = document.getElementById('bookImage').value;
        var bookPrice = document.getElementById('bookPrice').value;
        var bookDiscountPrice = document.getElementById('bookDiscountPrice').value;
        var bookQuantity = document.getElementById('bookQuantity').value;
        var bookIsPackaged = document.getElementById('bookIsPackaged').value;
        var bookStatusId = document.getElementById('bookStatusId').value;


        axios.request({
            url: '/api/v1/front/carts',
            method: 'POST',
            data: JSON.stringify({
                bookId: bookId,
                title: bookTitle,
                image: bookImage,
                price: bookPrice,
                discountPrice: bookDiscountPrice,
                quantity: bookQuantity,
                isPackaged: bookIsPackaged,
                bookStatusId: bookStatusId
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            alert('장바구니에 추가되었습니다.');
        })
            .catch(error => {
                alert(error.response.data);
                console.error('Error cart add:', error.response.data);
            });
    }


</script>

<div th:replace="~{layout/store/footer::footer}"></div>
</body>
</html>
