<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕 - 나의 좋아요 리스트</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <style>
        .table-striped > tbody > tr > td,
        .table-striped > tbody > tr > th,
        .table-striped > thead > tr > th {
            vertical-align: middle;
            text-align: center;
        }
        .tc {
            text-align: center;
        }
    </style>
</head>

<body>
<div th:replace="~{layout/store/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/store/sidebar::sidebar}"></div>

            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 나의 좋아요 리스트 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>나의 좋아요</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="tc">책 이름</th>
                                <th class="tc">저자</th>
                                <th class="tc">출판사</th>
                                <th class="tc">자세히 보기</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="likesBook : ${LikeBooks.getData()}">
                                <td th:text="${likesBook.title}">책 제목 1</td>
                                <td th:text="${likesBook.author}">저자 1</td>
                                <td th:text="${likesBook.publisher()}">출판사 1</td>
                                <td>
                                    <a th:href="@{'/books/book/'+${likesBook.bookId}}">
                                        <button class="btn btn-primary" data-book-id="1">자세히보기</button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="pagination">
                            <a href="/mypage" class="btn btn-primary">돌아가기</a>
                            <!-- Previous button -->
                            <li class="page-item" th:classappend="${LikeBooks.getPageNum() == 0} ? 'disabled'">
                                <a th:if="${LikeBooks.getPageNum() > 0}" th:href="@{/mypage/like(page=${LikeBooks.getPageNum() - 1})}">Previous</a>
                                <span th:if="${LikeBooks.getPageNum() == 0}">Previous</span>
                            </li>

                            <!-- Page numbers -->
                            <li class="page-item" th:each="i : ${#numbers.sequence(0, LikeBooks.getTotalPageCount() - 1)}">
                                <a th:href="@{/mypage/like(page=${i})}" th:text="${i + 1}+'&nbsp;'"
                                   th:classappend="${i == LikeBooks.getPageNum()} ? 'active' : ''"></a>
                            </li>

                            <!-- Next button -->
                            <li class="page-item"
                                th:classappend="${LikeBooks.getPageNum() >= LikeBooks.getTotalPageCount() - 1} ? 'disabled'">
                                <a th:if="${LikeBooks.getPageNum() < LikeBooks.getTotalPageCount() - 1}"
                                   th:href="@{/mypage/like(page=${LikeBooks.getPageNum() + 1})}">Next</a>
                                <span th:if="${LikeBooks.getPageNum() >= LikeBooks.getTotalPageCount() - 1}">Next</span>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/store/footer::footer}"></div>
</body>
</html>
