<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕 - 배송지 관리</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
<div th:replace="~{layout/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/sidebar::sidebar}"></div>
            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 배송지 관리 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>배송지 관리
                            <button class="btn btn-primary pull-right addAddressBtn">배송지 추가</button>
                        </h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>배송지</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>서울특별시 강남구 역삼동 123-45</td>
                                <td><button class="btn btn-info btn-sm" onclick="editAddress(1)">수정</button></td>
                                <td><button class="btn btn-danger btn-sm" onclick="deleteAddress(1)">삭제</button></td>
                            </tr>
                            <tr>
                                <td>경기도 성남시 분당구 판교동 678-90</td>
                                <td><button class="btn btn-info btn-sm" onclick="editAddress(2)">수정</button></td>
                                <td><button class="btn btn-danger btn-sm" onclick="deleteAddress(2)">삭제</button></td>
                            </tr>
                            <!-- 추가적인 배송지 항목을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 배송지 추가 모달 -->
<div id="addAddressModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">배송지 추가</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="address">배송지</label>
                        <input type="text" class="form-control" id="address" placeholder="배송지를 입력하세요">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary">저장</button>
            </div>
        </div>
    </div>
</div>

<!-- 리뷰 모달 -->
<div id="reviewModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">리뷰 쓰기</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="reviewText">리뷰 내용</label>
                        <textarea class="form-control" id="reviewText" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary">저장</button>
            </div>
        </div>
    </div>
</div>



<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('.addAddressBtn').on('click', function() {
            $('#addAddressModal').modal('show');
        });
    });

</script>
<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>
