<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>

<div th:replace="~{layout/nav::nav}"></div>


<div class="breadcumbs">

    <div class="container">

        <div class="row">

            <span>Home > </span>

            <span>Men > </span>

            <span>Eyewear > </span>

            <span>Blue Jacket</span>

        </div>

    </div>

</div>

<div class="short-description">

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <div class="product-thumbnail">

                    <div class="col-md-2 col-sm-2 col-xs-2">

                        <ul class="thumb-image">

                            <li class="active"><a href="images/single-product-1.jpeg"><img
                                    src="images/single-product-1.jpeg" alt=""></a></li>

                            <li><a href="images/single-product-2.jpg"><img src="images/single-product-2.jpg" alt=""></a>
                            </li>

                            <li><a href="images/single-product-3.jpg"><img src="images/single-product-3.jpg" alt=""></a>
                            </li>

                            <li><a href=""><img src="images/single-product-4.jpg" alt=""></a></li>

                            <li><a href=""><img src="images/single-product-5.jpg" alt=""></a></li>

                        </ul>

                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-10">

                        <div class="thumb-main-image"><a href=""><img src="images/single-product-1.jpg" alt=""></a>
                        </div>

                    </div>

                </div>

                <div class="clearfix"></div>

            </div>

            <div class="col-md-6">

                <h1 class="product-title">리틀 라이프 1 </h1>


                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span class="vote-count"> 평점 4.6 점</span>

                    &nbsp;&nbsp;

                    <i class="fa fa-heart"></i>
                    <span class="vote-count"> 좋아요 35 개</span>
                </div>

                <div class="product-info">
                    <span class="product-id"><span class="strong-text">저자:</span> 한야 야나기하라</span>
                    <span class="product-avilability"><span class="strong-text">원제:</span> A LITTLE LIFE</span>
                </div>
                <br>

                <p><span class="strong-text">카테고리:</span> 국내도서, 소설/시/희곡, 영미소설</p>
                <p><span class="strong-text">태그:</span> GonShop, theme-sky, woocommerce, wordpress</p>
                <p><span class="strong-text">설명:</span>한 남자의 슬픈 인생 여행기! 최다 판매 도서</p>
                <br><br>

                <hr>

                <p><span class="strong-text">판매가:</span> <span class="price_real"> 12,600 원</span>
                    &nbsp;<span class="strong-text">적립 포인트:</span> 400원
                    <span style="margin-left: 16px; font-size: 11px;"> 포장 가능 </span>

                </p>


                <form action="" class="purchase-form">

                    <div class="qt-area">

                        <i class="fa fa-minus"></i>

                        <input name="quantity" class="qt" value="1">

                        <i class="fa fa-plus"></i>

                    </div>


                    <button class="btn btn-theme" type="submit">Add to cart</button>

                    <div class="social-share">

                        <ul>

                            <li><a href=""><i class="fa fa-facebook"></i></a></li>

                            <li><a href=""><i class="fa fa-twitter"></i></a></li>

                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>

                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>

                        </ul>

                    </div>

                </form>


                <ul class="product-info-btn">

                    <li><a href=""><i class="fa fa-heart-o"></i> 좋아요</a></li>

                    <li><a href=""><i class="fa fa-arrows-h"></i> Compare</a></li>

                    <li><a href=""><i class="fa fa-envelope-o"></i> Email</a></li>

                    <li><a href=""><i class="fa fa-print"></i> Print</a></li>

                </ul>

                <p><i class="fa fa-check"></i> 관련분류
                    카테고리 분류
                    국내도서 > 소설/시/희곡 > 영미소설 > 영미 장편소설
                    수상내역 및 미디어 추천 분류
                    국내도서 > 미디어 추천 > 중앙일보
                    국내도서 > 미디어 추천 > 동아일보 </p>

            </div>

        </div>

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="single-product-tabs">

            <ul class="nav nav-tabs nav-single-product-tabs">

                <li class="active"><a href="#description" data-toggle="tab">Description</a></li>

                <li><a href="#reviews" data-toggle="tab">Reviews</a></li>

            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="description">

                    <div class="product-desc">

                        <h2>책 소개</h2>

                        <p>
                            천 페이지를 압도하는 폭풍 같은 서사
                            2015년 맨부커상 최고의 화제작

                            이 소설을 소개하는 가장 좋은 방법은, 너무나 흔한 관용구대로 “결코 손에서 놓을 수 없다”고 말하는 것이다. 독자를 두렵고 불편하게 하면서도 사로잡는 소설을 묘사할
                            더 적절한 표현은 없다. _커커스 문학상 선정단

                            영미권을 대표하는 문학상 맨부커상과 전미도서상 최종후보에 나란히 오르고, [뉴욕타임스] [워싱턴포스트] [가디언] [월스트리트저널]을 비롯한 25개 언론사에서
                            ‘올해의 책’으로 꼽은 화제작 《리틀 라이프》가 한국어판으로 출간되었다. 영국과 미국의 대표 문학상 후보에 선정되기 전부터 독자들 사이에서는 “밤을 새워 읽었다”
                            “천 페이지가 더 길었으면 하는 소설은 처음이다” “눈물이 나 몇 번을 읽다 멈춰야 했다” “충격적이고 가슴 아프다” “읽는 내내 매일 밤 이 소설에 관한 꿈을
                            꿨다” 같은 리뷰와 함께 이미 입소문이 퍼진 작품으로, 맨부커상 후보작으로 선정된 후 이례적으로 홈페이지에 응원 댓글이 달리며 독자들의 열렬한 지지를 받았다. 어린
                            시절 끔찍한 학대와 폭력의 트라우마를 간직한 비밀스러운 인물 주드의 이야기를 담은 《리틀 라이프》는 또한 그 소재의 선정성과 가차 없음으로 심사위원들 사이에서 가장
                            논쟁적인 작품이 되기도 했다.

                            현대 소설로는 드물게 요약본과 해설서가 등장하고, 서평 사이트 ‘굿리즈’에 4만 명이 넘는 독자들이 별점 4점 이상의 평점을 남기고 있으며, 영화 [캐롤]의 배우
                            루니 마라가 추천 도서로 꼽는 등, 출간된 지 일 년이 넘은 지금도 여전히 독자들의 가슴에 큰 반향을 일으키고 있다.</p>

                    </div>

                </div>

                <div class="tab-pane" id="reviews">
<!--                -->

                    <div class="container-fluid px-1 py-5 mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5" id="review-content">
                                <!-- Swiper Container -->
                                <div class="swiper-container">
                                    <!-- Swiper Wrapper -->
                                    <div class="swiper-wrapper">
                                        <!-- Slide 1 -->
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="row d-flex">
                                                    <div class="d-flex flex-column">
                                                        <h3 class="mt-2 mb-0">sayyo33</h3>
                                                        <div>
                                                            <p class="text-left"><span class="text-muted">4.0</span> <span class="fa fa-star star-active ml-3"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span></p>
                                                        </div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <p class="text-muted pt-5 pt-sm-3">2024년 9월 13일 </p>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <p class="content"> 휴가를 '물 위에서' 보내는 것을 정말 즐기거나 새롭고 흥미로운 것을 처음으로 시도하고 싶다면 </p>
                                                </div>
                                                <div class="row text-left"> <img class="pic" src="https://i.imgur.com/kjcZcfv.jpg"  onclick="window.open(this.src)" > <img class="pic" src="https://i.imgur.com/IgHpsBh.jpg" onclick="window.open(this.src)"> </div>
                                            </div>
                                        </div>
                                        <!-- Add more slides as needed -->
                                        <div class="swiper-slide">
                                            <div class="card">
                                                <div class="row d-flex">
                                                    <div class="d-flex flex-column">
                                                        <h3 class="mt-2 mb-0">seheeking12</h3>
                                                        <div>
                                                            <p class="text-left"><span class="text-muted">5.0</span> <span class="fa fa-star star-active ml-3"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span></p>
                                                        </div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <p class="text-muted pt-5 pt-sm-3">12 Oct</p>
                                                    </div>
                                                </div>
                                                <div class="row text-left">
                                                    <p class="content">이건 정말 어마어마한 책입니다! 놀라운 결과</p>
                                                </div>
                                                <div class="row text-left">
<!--                                                    <img class="pic" src="https://i.imgur.com/abc.jpg">-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Pagination if needed -->
                                    <div class="swiper-pagination"></div>
                                    <!-- Add Navigation buttons if needed -->
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    -->

                </div>
            </div>

        </div>

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="related-items">

            <ul class="nav nav-tabs nav-single-product-tabs">

                <li class="active"><a href="#related" data-toggle="tab">Related Products</a></li>

            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="related">

                    <div class="col-md-3 col-sm-4">

                        <div class="single-product">

                            <div class="product-block">

                                <img src="images/product-1.jpeg" alt="" class="thumbnail">

                                <div class="product-description text-center">

                                    <p class="title">Date Tiffany Torchiere</p>

                                    <p class="price">$ 55.00</p>

                                </div>

                                <div class="product-hover">

                                    <ul>

                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>

                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>

                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4">

                        <div class="single-product">

                            <div class="product-block">

                                <img src="images/product-2.jpeg" alt="" class="thumbnail">

                                <div class="product-description text-center">

                                    <p class="title">Date Tiffany Torchiere</p>

                                    <p class="price">$ 55.00</p>

                                </div>

                                <div class="product-hover">

                                    <ul>

                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>

                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>

                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4">

                        <div class="single-product">

                            <div class="product-block">

                                <img src="images/product-3.jpeg" alt="" class="thumbnail">

                                <div class="product-description text-center">

                                    <p class="title">Date Tiffany Torchiere</p>

                                    <p class="price">$ 55.00</p>

                                </div>

                                <div class="product-hover">

                                    <ul>

                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>

                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>

                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-4">

                        <div class="single-product">

                            <div class="product-block">

                                <img src="images/product-4.jpeg" alt="" class="thumbnail">

                                <div class="product-description text-center">

                                    <p class="title">Date Tiffany Torchiere</p>

                                    <p class="price">$ 55.00</p>

                                </div>

                                <div class="product-hover">

                                    <ul>

                                        <li><a href=""><i class="fa fa-cart-arrow-down"></i></a></li>

                                        <li><a href=""><i class="fa fa-arrows-h"></i></a></li>

                                        <li><a href=""><i class="fa fa-heart-o"></i></a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>

<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>
