<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕 - 리뷰 관리</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <style>
        .table-striped tbody tr td,
        .table-striped tbody tr th {
            border-right: 1px solid #ddd;
            vertical-align: middle;
            text-align: center;
        }

        .table-striped tbody tr td:last-child,
        .table-striped tbody tr th:last-child {
            border-right: none;
        }

        .table-striped tbody tr td .btn-group-vertical {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .table-striped tbody tr td img {
            display: block;
            margin: 0 auto;
        }

        .pull-left {
            margin-top: 10px;
            float: left;
        }

        .table-striped tbody tr td .star-rating,
        .table-striped tbody tr td .packaging-status {
            font-size: 14px; /* 별점과 포장 가능 여부 폰트 사이즈 조정 */
            line-height: 1.2;
        }
    </style>
</head>

<body>
<div th:replace="~{layout/nav::nav}"></div>

<div class="layout">
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{layout/book_search_sidebar::sidebar}" class="col-md-3 col-sm-4"></div>
            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9 col-sm-8">
                <!-- 정렬 및 페이지당 항목 수 블록 -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="sort-options well">
                            <div class="pull-left">
                                <label>정렬 기준:</label>
                                <a href="?sort=recent">최신순</a> |
                                <a href="?sort=oldest">오래된 순</a> |
                                <a href="?sort=rating">평점순</a> |
                                <a href="?sort=alphabetical">가나다순</a>
                            </div>
                            <div class="pull-right">
                                <label for="itemsPerPage" class="control-label">페이지당 항목 수:</label>
                                <select id="itemsPerPage" class="form-control"
                                        style="display:inline-block; width:auto;">
                                    <option value="10">10개</option>
                                    <option value="20">20개</option>
                                    <option value="50">50개</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- 책 검색 결과 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <form id="searchResultsForm">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAll"></th>
                                    <th>책 표지</th>
                                    <th>책 제목</th>
                                    <th>저자</th>
                                    <th>출판사</th>
                                    <th>출판일</th>
                                    <th>판매 가격</th>
                                    <th>별점</th>
                                    <th class="packaging-status">포장 여부</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox" class="bookCheckbox"></td>
                                    <td><img src="/images/product-1.jpeg" alt="책 사진"
                                             style="width:100px;"></td>
                                    <td>나를 소모하지 않는 현명한 태도에 관하여</td>
                                    <td>마티아스 뇔케 저/이미옥 역</td>
                                    <td>퍼스트 펭귄</td>
                                    <td>2024-06-15</td>
                                    <td>20,000 원</td>
                                    <td class="star-rating">4.5<span class="fa fa-star" style="color:#ffd11a;"></span></td>
                                    <td class="packaging-status">가능</td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <a href="#" class="btn btn-primary">장바구니에 넣기</a>
                                            <a href="#" class="btn btn-success">바로 구매</a>
                                            <a href="#" class="btn btn-info">상품 보기</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="bookCheckbox"></td>
                                    <td><img src="/images/product-2.jpeg" alt="책 사진"
                                             style="width:100px;"></td>
                                    <td>책 제목 2</td>
                                    <td>저자 2</td>
                                    <td>출판사 2</td>
                                    <td>2024-06-14</td>
                                    <td>18,000 원</td>
                                    <td class="star-rating">4.0<span class="fa fa-star" style="color:#ffd11a;"></span></td>
                                    <td class="packaging-status">불가능</td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <a href="#" class="btn btn-primary">장바구니에 넣기</a>
                                            <a href="#" class="btn btn-success">바로 구매</a>
                                            <a href="#" class="btn btn-info">상품 보기</a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- 추가적인 책 검색 결과를 여기에 추가하세요 -->
                                </tbody>
                            </table>
                        </form>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // 선택된 모든 책 체크박스
        $('#selectAll').on('click', function () {
            $('.bookCheckbox').prop('checked', this.checked);
        });

        // 선택된 항목 장바구니에 넣기 및 바로 구매
        $('#searchResultsForm').on('submit', function (e) {
            e.preventDefault();
            // 선택된 책 아이템들에 대한 처리 로직을 여기에 추가하세요.
            alert('선택된 항목이 처리되었습니다.');
        });
    });
</script>

<div th:replace="~{layout/footer::footer}"></div>
</body>

</html>
