<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/coupon2.css">
</head>

<body>
<div th:replace="~{layout/nav::nav}"></div>
<div class="container">
    <div class="row">
        <!-- 사이드바 시작 -->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">회원등급</h3>
                </div>
                <div class="panel-body">
                    <p>현재 회원 등급: <strong>Gold</strong></p>
                    <!-- 추가 회원 등급 정보는 여기서 제공 -->
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">카테고리</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">카테고리 1</a></li>
                        <li><a href="#">카테고리 2</a></li>
                        <li><a href="#">카테고리 3</a></li>
                        <li><a href="#">카테고리 4</a></li>
                        <!-- 추가 카테고리는 여기서 제공 -->
                    </ul>
                </div>
            </div>
        </div>
        <!-- 사이드바 끝 -->

        <div class="col-md-9">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="coupon-list">
                            <h2>쿠폰 내역</h2>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>쿠폰명</th>
                                    <th>사용 조건</th>
                                    <th>사용 가능 일자</th>
                                    <th>만료 일자</th>
                                    <th>할인 혜택</th>
                                    <th>등록 일자</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>[신규가입감사] 온라인 중고도서 2만원 이상 구매 시 20% 할인쿠폰</td>
                                    <td>해당 상품 총 20,000원 이상 주문 시</td>
                                    <td>2024.06.12</td>
                                    <td>2024.07.12</td>
                                    <td>20%</td>
                                    <td>2024.06.12</td>
                                </tr>
                                <!-- 추가 쿠폰 내역을 여기에 추가하세요 -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="coupon-detail">
                            <h2>쿠폰 상세내역</h2>
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <th>항목</th>
                                    <th>내용</th>
                                </tr>
                                <tr>
                                    <td>쿠폰명</td>
                                    <td>[신규가입감사] 온라인 중고도서 2만원 이상 구매 시 20% 할인쿠폰</td>
                                </tr>
                                <tr>
                                    <td>사용조건</td>
                                    <td>해당 상품 총 20,000원 이상 주문 시</td>
                                </tr>
                                <tr>
                                    <td>사용가능일</td>
                                    <td>2024.06.12</td>
                                </tr>
                                <tr>
                                    <td>만료일</td>
                                    <td>2024.07.12</td>
                                </tr>
                                <tr>
                                    <td>할인혜택</td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td>등록일</td>
                                    <td>2024.06.12</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{layout/footer::footer}"></div>


</body>

</html>
