<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕 - 쿠폰 내역</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
<div th:replace="~{layout/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/sidebar::sidebar}"></div>

            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 쿠폰 내역 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>내 쿠폰</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>쿠폰 명</th>
                                <th>사용 조건</th>
                                <th>사용 가능일</th>
                                <th>만료 일</th>
                                <th>할인 혜택</th>
                                <th>등록 일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>오늘 오셨으니까 특별히 드리는거에요 이거 주면 진짜 손해인데 ㅠㅠ 자주오시라고 드리는 거니까 </td>
                                <td>만원이상구매시</td>
                                <td>2024-12-30 </td>
                                <td>2024-12-31</td>
                                <td>20%할인(최대 1000원)</td>
                                <td>2024-12-30</td>
                            </tr>
                            <tr>
                                <td>쿠폰이름</td>
                                <td>만원이상구매시</td>
                                <td>2024-12-30 </td>
                                <td>2024-12-31</td>
                                <td>20%할인(최대 1000원)</td>
                                <td>2024-12-30</td>
                            </tr>
                            <!-- 추가적인 쿠폰 내역을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                        <a href="/mypage" class="btn btn-primary">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>
