<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕 - 반품/교환 신청 및 조회</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
<div th:replace="~{layout/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/sidebar::sidebar}"></div>

            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 반품/교환 신청 및 조회 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>반품/교환 신청 및 조회</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>주문 번호</th>
                                <th>책 이름</th>
                                <th>주문 날짜</th>
                                <th>배송 상태</th>
                                <th>신청</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>12345</td>
                                <td>책 제목 1</td>
                                <td>2024-06-15</td>
                                <td>배송 완료</td>
                                <td>
                                    <a href="#" class="btn btn-primary return-exchange-btn" data-order-id="12345">반품/교환 신청</a>
                                </td>
                            </tr>
                            <tr>
                                <td>67890</td>
                                <td>책 제목 2</td>
                                <td>2024-06-14</td>
                                <td>배송 완료</td>
                                <td>
                                    <a href="#" class="btn btn-primary return-exchange-btn" data-order-id="67890">반품/교환 신청</a>
                                </td>
                            </tr>
                            <!-- 추가적인 주문 항목을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                        <a href="/mypage" class="btn btn-primary">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 반품/교환 신청 모달 -->
<div id="returnExchangeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- 모달 내용 -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">반품/교환 신청</h4>
            </div>
            <div class="modal-body">
                <!-- 반품/교환 신청 폼 -->
                <form id="returnExchangeForm">
                    <div class="form-group">
                        <label for="reason">사유:</label>
                        <textarea class="form-control" id="reason" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="type">신청 유형:</label>
                        <select class="form-control" id="type">
                            <option value="return">반품</option>
                            <option value="exchange">교환</option>
                        </select>
                    </div>
                    <input type="hidden" id="orderId" name="orderId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="submitReturnExchangeBtn">신청 완료</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.return-exchange-btn').click(function () {
            var orderId = $(this).data('order-id');
            $('#orderId').val(orderId);
            $('#returnExchangeModal').modal('show');
        });

        $('#submitReturnExchangeBtn').click(function () {
            var orderId = $('#orderId').val();
            var reason = $('#reason').val();
            var type = $('#type').val();
            // 여기서 반품/교환 신청 완료 후 처리를 구현하세요
            console.log('주문 번호: ' + orderId + ', 사유: ' + reason + ', 신청 유형: ' + type);
            // 모달 닫기
            $('#returnExchangeModal').modal('hide');
        });
    });
</script>
<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>
