<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕 - 리뷰 관리</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
<div th:replace="~{layout/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/sidebar::sidebar}"></div>

            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 리뷰 관리 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>리뷰 관리</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>주문 번호</th>
                                <th>책 내용</th>
                                <th>주문 날짜</th>
                                <th>작성 리뷰</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>12345</td>
                                <td>책 제목 1</td>
                                <td>2024-06-15</td>
                                <td><a href="#" class="btn btn-primary">리뷰 쓰기</a></td>
                            </tr>
                            <tr>
                                <td>67890</td>
                                <td>책 제목 2</td>
                                <td>2024-06-14</td>
                                <td><a href="#" class="btn btn-primary">리뷰 쓰기</a></td>
                            </tr>
                            <!-- 추가적인 리뷰 항목을 여기에 추가하세요 -->
                            </tbody>
                        </table>
                        <a href="/mypage" class="btn btn-primary">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>
