<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Page - NovaBook📕</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .navbar-brand {
            font-size: 24px;
            font-weight: 700;
        }

        .navbar-header {
            float: left;
        }

        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 51px;
            left: 0;
            background-color: #343a40;
            padding-top: 20px;
        }

        .sidebar a {
            padding: 15px 25px;
            text-decoration: none;
            font-size: 18px;
            color: #d1d1d1;
            display: block;
        }

        .sidebar a:hover {
            color: #f1f1f1;
            background-color: #575757;
        }

        .content {
            margin-left: 250px;
            padding: 20px;
            padding-top: 60px;
        }

        .header {
            background-color: #f8f9fa;
            padding: 15px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            padding: 20px;
            margin-top: 20px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .card h3 {
            font-weight: 600;
        }

        .footer {
            text-align: center;
            padding: 10px;
            background-color: #f8f9fa;
            border-top: 1px solid #ddd;
            margin-top: 20px;
        }

        .dashboard {
            font-weight: bold;
        }
    </style>
</head>

<body>
<!--헤더 nav-->
<div th:replace="~{layout/admin/admin_header::admin_header}"></div>
<!--사이드바 nav-->
<div th:replace="~{layout/admin/admin_nav::admin_sidebar}"></div>

<!--컨텐츠 영역-->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="dashboard" style="padding-top: 0.3%">Coupon Management</h1>
                <div class="card">
                    <h3>일반 쿠폰</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>쿠폰 이름</th>
                            <th>할인타입</th>
                            <th>할인금액</th>
                            <th>최대할인금액</th>
                            <th>최소구매금액</th>
                            <th>시작일</th>
                            <th>만료일</th>
                            <th>사용가능기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="generalCoupon: ${generalCoupons.data}">
                            <td th:text="${generalCoupon.id}">1</td>
                            <td th:text="${generalCoupon.name}">생일 쿠폰</td>
                            <td th:text="${generalCoupon.discountType}">상수</td>
                            <td th:text="${generalCoupon.discountAmount}">5000원</td>
                            <td th:text="${generalCoupon.maxDiscountAmount}">5000원</td>
                            <td th:text="${generalCoupon.minPurchaseAmount}">5000원</td>
                            <td th:text="${generalCoupon.startedAt}">2024.07.15</td>
                            <td th:text="${generalCoupon.expirationAt}">2024.07.22</td>
                            <td th:text="${generalCoupon.usePeriod}">2024.07.22</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <a href="/admin/coupons/common/type?type=GENERAL">
                            <button class="btn btn-primary">쿠폰 추가</button>
                        </a>
                        <!-- Previous button -->
                        <li class="page-item"  th:classappend="${generalCoupons.getPageNum() == 0} ? 'disabled'">
                            <a th:if="${generalCoupons.getPageNum() > 0}" th:href="@{/admin/coupons(generalPage=${generalCoupons.getPageNum() - 1})}">Previous</a>
                            <span th:if="${generalCoupons.getPageNum() == 0}">Previous</span>
                        </li>

                        <!-- Page numbers -->
                        <li class="page-item" th:if="${generalCoupons.getTotalPageCount() > 0}" th:each="i : ${#numbers.sequence(0, generalCoupons.getTotalPageCount() - 1)}">
                            <a th:href="@{/admin/coupons(generalPage=${i})}" th:text="${i + 1}+'&nbsp;'" th:classappend="${i == generalCoupons.getPageNum()} ? 'active' : ''"></a>
                        </li>

                        <!-- Next button -->
                        <li class="page-item" th:classappend="${generalCoupons.getPageNum() >= generalCoupons.getTotalPageCount() - 1} ? 'disabled'">
                            <a th:if="${generalCoupons.getPageNum() < generalCoupons.getTotalPageCount() - 1}" th:href="@{/admin/coupons(generalPage=${generalCoupons.getPageNum() + 1})}">Next</a>
                            <span th:if="${generalCoupons.getPageNum() >= generalCoupons.getTotalPageCount() - 1}">Next</span>
                        </li>
                    </div>
                </div>


                <!--                책 쿠폰-->

                <div class="card">
                    <h3>책 쿠폰</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>책 아이디</th>
                            <th>쿠폰 이름</th>
                            <th>할인타입</th>
                            <th>할인금액</th>
                            <th>최대할인금액</th>
                            <th>최소구매금액</th>
                            <th>시작일</th>
                            <th>만료일</th>
                            <th>사용가능기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="coupon: ${bookCoupons.data}">
                            <td th:text="${coupon.id}">1</td>
                            <td th:text="${coupon.bookId}">1</td>
                            <td th:text="${coupon.name}">생일 쿠폰</td>
                            <td th:text="${coupon.discountType}">상수</td>
                            <td th:text="${coupon.discountAmount}">5000원</td>
                            <td th:text="${coupon.maxDiscountAmount}">5000원</td>
                            <td th:text="${coupon.minPurchaseAmount}">5000원</td>
                            <td th:text="${coupon.startedAt}">2024.07.15</td>
                            <td th:text="${coupon.expirationAt}">2024.07.22</td>
                            <td th:text="${coupon.usePeriod}">2024.07.22</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <a href="/admin/coupons/book/form">
                            <button class="btn btn-primary">쿠폰 추가</button>
                        </a>
                        <!-- Previous button -->
                        <li class="page-item" th:classappend="${bookCoupons.getPageNum() == 0} ? 'disabled'">
                            <a th:if="${bookCoupons.getPageNum() > 0}" th:href="@{/admin/coupons(bookPage=${bookCoupons.getPageNum() - 1})}">Previous</a>
                            <span th:if="${bookCoupons.getPageNum() == 0}">Previous</span>
                        </li>

                        <!-- Page numbers -->
                        <li class="page-item" th:if="${bookCoupons.getTotalPageCount() > 0}" th:each="i : ${#numbers.sequence(0, bookCoupons.getTotalPageCount() - 1)}">
                            <a th:href="@{/admin/coupons(bookPage=${i})}" th:text="${i + 1}+'&nbsp;'" th:classappend="${i == bookCoupons.getPageNum()} ? 'active' : ''"></a>
                        </li>

                        <!-- Next button -->
                        <li class="page-item" th:classappend="${bookCoupons.getPageNum() >= bookCoupons.getTotalPageCount() - 1} ? 'disabled'">
                            <a th:if="${bookCoupons.getPageNum() < bookCoupons.getTotalPageCount() - 1}" th:href="@{/admin/coupons(bookPage=${bookCoupons.getPageNum() + 1})}">Next</a>
                            <span th:if="${bookCoupons.getPageNum() >= bookCoupons.getTotalPageCount() - 1}">Next</span>
                        </li>
                    </div>
                </div>

                <!--                카테고리 쿠폰-->
                <div class="card">
                    <h3>카테고리 쿠폰</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>카테고리 아이디</th>
                            <th>쿠폰 이름</th>
                            <th>할인타입</th>
                            <th>할인금액</th>
                            <th>최대할인금액</th>
                            <th>최소구매금액</th>
                            <th>시작일</th>
                            <th>만료일</th>
                            <th>사용가능기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="coupon: ${categoryCoupons.data}">
                            <td th:text="${coupon.id}">1</td>
                            <td th:text="${coupon.categoryId}">1</td>
                            <td th:text="${coupon.name}">생일 쿠폰</td>
                            <td th:text="${coupon.discountType}">상수</td>
                            <td th:text="${coupon.discountAmount}">5000원</td>
                            <td th:text="${coupon.maxDiscountAmount}">5000원</td>
                            <td th:text="${coupon.minPurchaseAmount}">5000원</td>
                            <td th:text="${coupon.startedAt}">2024.07.15</td>
                            <td th:text="${coupon.expirationAt}">2024.07.22</td>
                            <td th:text="${coupon.usePeriod}">2024.07.22</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <a href="/admin/coupons/category/form">
                            <button class="btn btn-primary">쿠폰 추가</button>
                        </a>
                        <!-- Previous button -->
                        <li class="page-item" th:classappend="${categoryCoupons.getPageNum() == 0} ? 'disabled'">
                            <a th:if="${categoryCoupons.getPageNum() > 0}" th:href="@{/admin/coupons(categoryPage=${categoryCoupons.getPageNum() - 1})}">Previous</a>
                            <span th:if="${categoryCoupons.getPageNum() == 0}">Previous</span>
                        </li>

                        <!-- Page numbers -->
                        <li class="page-item" th:if="${categoryCoupons.getTotalPageCount() > 0}" th:each="i : ${#numbers.sequence(0, categoryCoupons.getTotalPageCount() - 1)}">
                            <a th:href="@{/admin/coupons(categoryPage=${i})}" th:text="${i + 1}+'&nbsp;'" th:classappend="${i == categoryCoupons.getPageNum()} ? 'active' : ''"></a>
                        </li>

                        <!-- Next button -->
                        <li class="page-item" th:classappend="${categoryCoupons.getPageNum() >= categoryCoupons.getTotalPageCount() - 1} ? 'disabled'">
                            <a th:if="${categoryCoupons.getPageNum() < categoryCoupons.getTotalPageCount() - 1}" th:href="@{/admin/coupons(categoryPage=${categoryCoupons.getPageNum() + 1})}">Next</a>
                            <span th:if="${categoryCoupons.getPageNum() >= categoryCoupons.getTotalPageCount() - 1}">Next</span>
                        </li>
                    </div>
                </div>

                <!-- 선착순 쿠폰-->
                <div class="card">
                    <h3>선착순 쿠폰</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>쿠폰 이름</th>
                            <th>할인타입</th>
                            <th>할인금액</th>
                            <th>최대할인금액</th>
                            <th>최소구매금액</th>
                            <th>시작일</th>
                            <th>만료일</th>
                            <th>사용가능기간</th>
                            <th>수량</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="coupon: ${limitedCoupons.data}">
                            <td th:text="${coupon.id}">1</td>
                            <td th:text="${coupon.name}">선착순 쿠폰</td>
                            <td th:text="${coupon.discountType}">상수</td>
                            <td th:text="${coupon.discountAmount}">5000원</td>
                            <td th:text="${coupon.maxDiscountAmount}">5000원</td>
                            <td th:text="${coupon.minPurchaseAmount}">5000원</td>
                            <td th:text="${coupon.startedAt}">2024.07.15</td>
                            <td th:text="${coupon.expirationAt}">2024.07.22</td>
                            <td th:text="${coupon.usePeriod}">2024.07.22</td>
                            <td th:text="${coupon.quantity()}">1</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <a href="/admin/coupons/limited/form">
                            <button class="btn btn-primary">쿠폰 추가</button>
                        </a>
                        <!-- Previous button -->
                        <li class="page-item" th:classappend="${limitedCoupons.getPageNum() == 0} ? 'disabled'">
                            <a th:if="${limitedCoupons.getPageNum() > 0}" th:href="@{/admin/coupons(limitedCoupons=${limitedCoupons.getPageNum() - 1})}">Previous</a>
                            <span th:if="${limitedCoupons.getPageNum() == 0}">Previous</span>
                        </li>

                        <!-- Page numbers -->
                        <li class="page-item" th:if="${limitedCoupons.getTotalPageCount() > 0}" th:each="i : ${#numbers.sequence(0, limitedCoupons.getTotalPageCount() - 1)}">
                            <a th:href="@{/admin/coupons(limitedCoupons=${i})}" th:text="${i + 1}+'&nbsp;'" th:classappend="${i == limitedCoupons.getPageNum()} ? 'active' : ''"></a>
                        </li>

                        <!-- Next button -->
                        <li class="page-item" th:classappend="${limitedCoupons.getPageNum() >= limitedCoupons.getTotalPageCount() - 1} ? 'disabled'">
                            <a th:if="${limitedCoupons.getPageNum() < limitedCoupons.getTotalPageCount() - 1}" th:href="@{/admin/coupons(limitedCoupons=${limitedCoupons.getPageNum() + 1})}">Next</a>
                            <span th:if="${limitedCoupons.getPageNum() >= limitedCoupons.getTotalPageCount() - 1}">Next</span>
                        </li>
                    </div>
                </div>


                <!--                생일 쿠폰-->

                <div class="card">
                    <h3>생일 쿠폰</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>쿠폰 이름</th>
                            <th>할인타입</th>
                            <th>할인금액</th>
                            <th>최대할인금액</th>
                            <th>최소구매금액</th>
                            <th>시작일</th>
                            <th>만료일</th>
                            <th>사용가능기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="birthdayCoupon: ${birthdayCoupons.data}">
                            <td th:text="${birthdayCoupon.id}">1</td>
                            <td th:text="${birthdayCoupon.name}">생일 쿠폰</td>
                            <td th:text="${birthdayCoupon.discountType}">상수</td>
                            <td th:text="${birthdayCoupon.discountAmount}">5000원</td>
                            <td th:text="${birthdayCoupon.maxDiscountAmount}">5000원</td>
                            <td th:text="${birthdayCoupon.minPurchaseAmount}">5000원</td>
                            <td th:text="${birthdayCoupon.startedAt}">2024.07.15</td>
                            <td th:text="${birthdayCoupon.expirationAt}">2024.07.22</td>
                            <td th:text="${birthdayCoupon.usePeriod}">2024.07.22</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <a href="/admin/coupons/common/type?type=BIRTHDAY">
                            <button class="btn btn-primary">쿠폰 추가</button>
                        </a>
                        <!-- Previous button -->
                        <li class="page-item" th:classappend="${birthdayCoupons.getPageNum() == 0} ? 'disabled'">
                            <a th:if="${birthdayCoupons.getPageNum() > 0}" th:href="@{/admin/coupons(birthdayPage=${birthdayCoupons.getPageNum() - 1})}">Previous</a>
                            <span th:if="${birthdayCoupons.getPageNum() == 0}">Previous</span>
                        </li>

                        <!-- Page numbers -->
                        <li class="page-item" th:if="${birthdayCoupons.getTotalPageCount() > 0}" th:each="i : ${#numbers.sequence(0, birthdayCoupons.getTotalPageCount() - 1)}">
                            <a th:href="@{/admin/coupons(birthdayPage=${i})}" th:text="${i + 1}+'&nbsp;'" th:classappend="${i == birthdayCoupons.getPageNum()} ? 'active' : ''"></a>
                        </li>

                        <!-- Next button -->
                        <li class="page-item" th:classappend="${birthdayCoupons.getPageNum() >= birthdayCoupons.getTotalPageCount() - 1} ? 'disabled'">
                            <a th:if="${birthdayCoupons.getPageNum() < birthdayCoupons.getTotalPageCount() - 1}" th:href="@{/admin/coupons(birthdayPage=${birthdayCoupons.getPageNum() + 1})}">Next</a>
                            <span th:if="${birthdayCoupons.getPageNum() >= birthdayCoupons.getTotalPageCount() - 1}">Next</span>
                        </li>
                    </div>
                </div>


                <!--                환영 쿠폰-->

                <div class="card">
                    <h3>환영 쿠폰</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>쿠폰 이름</th>
                            <th>할인타입</th>
                            <th>할인금액</th>
                            <th>최대할인금액</th>
                            <th>최소구매금액</th>
                            <th>시작일</th>
                            <th>만료일</th>
                            <th>사용가능기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="coupon: ${welcomeCoupons.data}">
                            <td th:text="${coupon.id}">1</td>
                            <td th:text="${coupon.name}">생일 쿠폰</td>
                            <td th:text="${coupon.discountType}">상수</td>
                            <td th:text="${coupon.discountAmount}">5000원</td>
                            <td th:text="${coupon.maxDiscountAmount}">5000원</td>
                            <td th:text="${coupon.minPurchaseAmount}">5000원</td>
                            <td th:text="${coupon.startedAt}">2024.07.15</td>
                            <td th:text="${coupon.expirationAt}">2024.07.22</td>
                            <td th:text="${coupon.usePeriod}">24</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagination">
                        <a href="/admin/coupons/common/type?type=WELCOME">
                            <button class="btn btn-primary">쿠폰 추가</button>
                        </a>
                        <!-- Previous button -->
                        <li class="page-item"  th:classappend="${welcomeCoupons.getPageNum() == 0} ? 'disabled'">
                            <a th:if="${welcomeCoupons.getPageNum() > 0}" th:href="@{/admin/coupons(welcomePage=${welcomeCoupons.getPageNum() - 1})}">Previous</a>
                            <span th:if="${welcomeCoupons.getPageNum() == 0}">Previous</span>
                        </li>

                        <!-- Page numbers -->
                        <li class="page-item" th:if="${welcomeCoupons.getTotalPageCount() > 0}" th:each="i : ${#numbers.sequence(0, welcomeCoupons.getTotalPageCount() - 1)}">
                            <a th:href="@{/admin/coupons(welcomePage=${i})}" th:text="${i + 1}+'&nbsp;'" th:classappend="${i == welcomeCoupons.getPageNum()} ? 'active' : ''"></a>
                        </li>

                        <!-- Next button -->
                        <li class="page-item" th:classappend="${welcomeCoupons.getPageNum() >= welcomeCoupons.getTotalPageCount() - 1} ? 'disabled'">
                            <a th:if="${welcomeCoupons.getPageNum() < welcomeCoupons.getTotalPageCount() - 1}" th:href="@{/admin/coupons(welcomePage=${welcomeCoupons.getPageNum() + 1})}">Next</a>
                            <span th:if="${welcomeCoupons.getPageNum() >= welcomeCoupons.getTotalPageCount() - 1}">Next</span>
                        </li>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--<div class="footer">-->
<!--    <p>&copy; 2024 NovaBook Admin. All rights reserved.</p>-->
<!--</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
