<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaBook📕 - 주문 내역</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,300,500,700,600'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
          type="text/css">
    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
<div th:replace="~{layout/store/nav::nav}"></div>

<div class="layout">
    <div class="container">
        <div class="row">
            <div th:replace="~{layout/store/sidebar::sidebar}"></div>
            <!-- 콘텐츠 섹션 -->
            <div class="col-md-9">
                <!-- 주문 내역 섹션 -->
                <div class="row">
                    <div class="col-md-12">
                        <h2>주문 내역</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>주문일자</th>
                                <th>상품명</th>
                                <th>가격</th>
                                <th>상태</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders.data}">
                                <td th:text="${order.ordersId}">주문번호</td>
                                <td th:text="${order.firstBookTitle + (order.extraBookCount > 0 ? ' 외 ' + order.extraBookCount + '건' : '')}">
                                    책 제목 1
                                </td>
                                <!--                                <td th:text="${order.firstBookTitle} + ${order.extraBookCount}">책 제목 1</td>-->
                                <td th:text="${order.totalAmount}">10,000원</td>
                                <td th:text="${order.orderStatus}">배송 중</td>
                                <td><a th:href="@{'/mypage/orders/detail/' + ${order.ordersId}}">상세보기</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/mypage" class="btn btn-primary">돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/store/footer::footer}"></div>
</body>
</html>
